<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Battleship Game</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
   <script src="/socket.io/socket.io.js"></script>
</head>
<body>

    <div class="container">
      <div class="title">
         <span v-bind:style="estilo_titulo">
             {{titulo}}
         </span> 
       </div>
     </div>
     <h2 class="text-center"> Welcome <%= name %></h2>

     
     <div class="container">
        <div class="row">
         <form action="/mygames">
            <input type="hidden" id="user_id" name="user_id" value="<%= id %>">
            <input type="hidden" id="name" name="user_name" value="<%= name %>">
            <button type="submit" id="btn btn-primary" v-bind:style="estilo_buttons">{{jogos}}</button>
         </form>

         <form action="/game">
            <input type="hidden" id="user_id" name="user_id" value="<%= id %>">
            <input type="hidden" id="name" name="user_name" value="<%= name %>">
            <button type="submit" id="btn btn-primary"  v-bind:style="estilo_buttons">{{start}}</button>
         </form>
        </div>
         
         
     </div>
     <script>
          var title = new Vue({
            el:'.title',
               data:{
                  titulo:'BattleShip Game',

                  estilo_titulo:{
                  fontSize: '30px',
                  textAlign:'center',
                  color: 'white',
                  backgroundColor:'darkblue',
                  display: 'block',
                  margin: '30px auto',
                  border: '2px solid navy',
                  width:'100%',
                  padding:'20px',
               }
              },
          });

          var links = new Vue({
             el:'.row',
             data:{
                jogos: 'My Games',
                start: 'New Game',
                estilo_buttons:{
                     display: 'block',
                     width:'50%',
                     fontSize: '20px',
                     textAlign: 'center',
                     color: 'white',
                     margin: '30px auto',
                     backgroundColor:'blue',
                     padding: '30px 20px',
                     borderRadius: '15px',
                     textDecoration:'none',
               }
             }
          })
   </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
     

</body>
</html>