<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Battleship Game</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <div class="title">
           <h1>Battleship Game</h1>
        </div>
     </div>
     <h2> Welcome <%= name %></h2>


     <div class="container">
         <form action="/mygames">
            <input type="hidden" id="user_id" name="user_id" value="<%= id %>">
            <input type="hidden" id="name" name="user_name" value="<%= name %>">
            <button type="submit" id="btn-my-games">My Games</button>
         </form>

         <form action="/game">
            <input type="hidden" id="user_id" name="user_id" value="<%= id %>">
            <input type="hidden" id="name" name="user_name" value="<%= name %>">
            <button type="submit" id="btn btn-primary btn-game">Start New Game</button>
         </form>
         
     </div>
</body>
</html>